.container-mostreads{
    position: relative;
    margin-top: 17px;
    margin-left: 36px;

}

.underline-left-mostreads{
    width: 39.5%;
    margin-right: -25px;
}

.underline-right-mostreads{
    width: 42.75%;
}